@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500&display=swap');


*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
  user-select: none;
}

body{
  background-color:#f6f6f9 ;
  color: #232323;
  font-weight: 500;
}

a{
  text-decoration: none;
  color: #232323;
}