
.container{
    /* border: 1px solid red; */
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}


.logo{
    /* border: 1px solid ; */
    display: flex;
    font-size: 1.5rem;
    width: 30%;
}

.logo span{
    color: #ffbb55;
    font-size: 1rem;
}
.slogan{
    /* border: 1px solid; */
    font-size: 1.75rem;
}

.CTA{
    /* border: 1px solid; */
    display: flex;
    gap: 30%;
    width: 50%;
    justify-content: center;
    margin-top: 20px;
    height: 60px;
    align-items: center;
}

.install{
    border: 1px solid #41f1b6;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1.2rem;
    gap: 10px;
    height: 70%;
    border-radius: 0.4rem;

}

.install button{

    border: none;
    background:none;
    cursor: pointer;
    color: #41f1b6;
}

.github{
    border: 1px solid #41f1b6;
    background: none;
    display: flex;  
    align-items: center;
    padding: 1.2rem;
    gap: 10px;
    height: 70%;
    border-radius: 0.4rem;
    cursor: pointer;
    transition: all 300ms ease-in;
}

.github:hover{
    background-color: #41f1b6;
}


/* MEDIA QUERRY */

@media only screen and (max-width: 600px) {
   .logo{
    /* border: 1px solid; */
    font-size: 1rem;
    width: 50%;
   }
   .logo span{
    /* border: 1px solid; */
    font-size: 0.75rem;
    width: 80%;
   }
   .slogan{
    font-size: 1rem;
   }

   .install{
    width: 100px;
   }
   
   .install p {
        font-size: 0.7rem;
        display: flex;
    }
}