.wrapper{
    /* border: 1px solid blue; */
    width: 100%;
}

.container{
    width: 100%;
    margin-top: 20px;
}

.title{
    /* border: 1px solid; */
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.75rem;

}

.showcase_container{
    /* border: 1px solid; */
    width: 100%;
    display: flex;
    flex-direction: column;
}

.showcase_01{
    display: flex;
    justify-content: center;
    gap: 10%;
    margin-top: 20px;
}

.showcase_02{
    display: flex;
    justify-content: center;
    gap: 10%;
    margin-top: 20px;
}

.showcase_03{
    display: flex;
    justify-content: center;
    gap: 10%;
    margin-top: 20px;
}

.showcase_04{
    display: flex;
    justify-content: center;
    gap: 10%;
    margin-top: 20px;
}

@media only screen and (max-width: 600px) {
    .title{
        font-size: 1rem;
    }

    .showcase_01{
        flex-direction: column;
        align-items: center;
    }
    .showcase_02{
        flex-direction: column;
    }
    .showcase_03{
        flex-direction: column;
    }
    .showcase_04{
        flex-direction: column;
    }
}